# Base URL của frontend (Vercel sẽ tự động set)
NEXT_PUBLIC_BASE_URL=https://skincede-spss.vercel.app

# API Backend URL
NEXT_PUBLIC_API_URL=https://spssapi-hxfzbchrcafgd2hg.southeastasia-01.azurewebsites.net/api
