nextjs-portal {
  display: none;
}

.strikethrough {
  text-decoration: line-through;
  color: #ff0000;
}

.compare-at-price {
  color: #535353;
  padding-left: 0.5rem;
}

.icon-star:before {
  content: "\e95b";
}

.desc-li {
  font-weight: 600;
  color: #000000b2 !important;
}
